{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    <link href="{% static 'sendemail/css/styleemail.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </script>
    <script src="{% static 'sendemail/js/email.js' %}"></script>
    <title>Email</title>
    {% endblock style %}
  </head>

  {% block content %}
  <div class="content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="outer_wrap">
      <div class="info">
        <h1>Contact Me!</h1>
        <ol class="info_text">
          <li>Phone: 704-390-2559</li>
          <li>Hours: TBD</li>
          <li>Location: Here</li>
        </ol>
      </div>
      <div class="option-text">
        <p>.....Or Just Email Me Here!</p>
      </div>
      <br>
      <div class="form-container">
        <br>
        <form method="post" class="submission">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  {% endblock content %}