{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
	<head>
		<link href="{% static 'posts/css/stylebase.css' %}" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block style %}
		{% endblock style %}
	</head>

	<body>
    <div class="navbar-container">
      <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-between">
        <a class="navbar-brand" href="{% url 'posts:index' %}">Home</a>
		<a class="navbar-brand" href="{% url 'posts:index' %}">Posts</a>
		<a class="navbar-brand" href="{% url 'posts:contact' %}">Contact</a>
      </nav>
    </div>
    <br>
	{% block content %}
    <p>I don't belong here......ohhh.ohhhhhh.....SHEEEEEEEEEEE'S</p>
	{% endblock content %}
	</body>
</html>