{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="{% static '' %}" type="image/x-icon">
    <link href="{% static '' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    {% endblock style %}
    <title>Home Page</title>
  </head>

  <body>
    <br>
    <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-between">
      
    </nav>
    {% block content %}
    <p>This better not be showing up.</p>
    {% endblock content %}
  </body>
</html>