{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}


{% block style %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'posts/css/stylehome.css' %}" rel="stylesheet" type="text/css">
<title>Home Page</title>
{% endblock style %}


{% block content %}
<div class="top-container">
  <div class="top-left">
    <p>It's not so good to be in the middle</p>
  </div>
  <br>
  <div class="top-right">
    <p>I'm bottom, bitch</p>
  </div>
</div>
{% endblock content %}