html {
    height: 100%;
}

h1 {
    display: inline;
    color: rgba(217, 4, 4, 1);
}

ol {
    list-style: none;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(36, 44, 61, 1);
}

.content {
    background: rgb(36, 44, 61, 1);
}

.info {
    position: absolute;
    float: top;
    display: table-cell;
    margin-top: 70px;
    margin-left: 600px;
    top: -50px;
    left: -500px;
    border: solid;
    font-size: 120px;
    background-color: rgba(36, 44, 61, 1);
    width: 700px;
}

.info_text {
    display: inline;
    font-size: 60px;
    color: red;
    
}

.option-text {
    position: relative;
    top: 350px;
    left: 300px;
    color: red;
    z-index: 1;
    font-size: 25px;
}


/* Make the form look good! */

.form-container {
    position: relative;
    left: 900px;
    top: -200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 45%;
    height: 65%;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

input,
textarea {
    display: table-cell;
    width: 150%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.submission {
    margin-left: 50px;
    color: red;
}

/* XL Screens + Tv's 1312px */
@media screen and (max-width: 110em) {

}

/* Desktops, Large Screens 992px */
@media screen and (max-width: 86em) {

}

/* iPad Pro 12.9 -- tops! */
/* This is affecting the phones?! Fucks everyting up */
/* @media (max-width: 1366px) {
    .outer_wrap {
        display: table;
        width: 100%;
    }

    .info{
        display: table-cell;
        align-items: center;
        width: 100%;
    }

    .info_text {
        font-size: 45px;
    }

    .option-text {
        display: table-cell;
        align-items: center;
    }

    .form-container {
        display: table-cell;
        align-items: ;
        height: 60%;
        width: 40%;
    }

    input,
    textarea {
        width: 85%;
        padding: 5px!important;
    
    }
} */

/* Phones */
@media (orientation:portrait), (max-width: 800px) {
    .info{
        position: relative;
        top: -150px;
        left: 0px;
        width: 150%;
    }

    .info_text {
        font-size: 30px;
    }

    .form-container {
        left: 10px;
        top: -100px;
        height: 80%;
        width: 95%;
    }

    .option-text {
        left: 50px;
        top: -100px;
    }

    input,
    textarea {
        width: 85%;
        padding: 3px!important;
    
    }

} 