{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<html>

  <head>
    <link rel="shortcut icon" href="{% static 'appone/css/img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'appone/css/styleexamples.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </script>
    <script src="{% static 'appone/js/examples.js' %}"></script>
    <title>Examples</title>
  </head>

  <body>
    <br>
    <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-between">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item dropdown text-center">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-list"></span>
              <span class="d-xl-block d-none"></span>
              <span class="d-none d-sm-inline px-1">Menu</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'appone:homepage/' %}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'appone:portfolio/' %}">Games</a>
              <a class="dropdown-item" href="{% url 'appone:portfolio/' %}">Sites</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'appone:contact/' %}">Contact</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="content">
      <br>
      <div class="intro" id="content">
        <h3>Oh, hello there! (GENERAL KENOBI!!)</h3>
        <p>It sure is swell of you to drop in! I suppose you'd like to see some neat stuff, huh?</p>
		    <input type='button' id='btnfunc' value='GEE, I SURE DO!!!!'>
      </div>
      <br>
      <br>
    </div>
  </body>

</html>