{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    <link href="{% static 'appone/css/stylehome.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </script>
    <script src="{% static 'appone/js/homepage.js' %}"></script>
    <title>Home Page</title>
    {% endblock style %}
  </head>

  {% block content %}
  <div class="content">
    <div class="bannerpic">
      <img class="toppic" src="{% static 'appone/css/img/sitebanner.png' %}" />
    </div>
  <!--Light text, dark background.Thin div border.Look at other website to get font ideas-->
    <div class="container">
      <div class="row">
        <div class="personal col-sm">
          <p class="personal_info">PRESS CMD+OPTION+R TO RELOAD CSS
            Hey there! I'm Jon Cooke, and I'm a programmer. I have decades of
            experience using computers, and am very well versed in python and using the Django
            web framework for site building. I am experienced with making websites interact
            with databases, as well as handle automated email and designing a simple and easy
            to use administrator page that anybody could use to add more content to their
            website. I build stable websites with exstensive testing to ensure that the user
            will not experience an error on the site.
          </p>
        </div>
      <br>
      <div class="row">
        <div class="skillsets_box col-sm">
          <div class="skillsets">
            <h3 class="skill_title">Skills that (don't =\) pay the bills:</h3>
              <ol class="skill_info">
                <li>Using Linux Machines</li>
                <li>Python(2/3)</li>
                <li>PostgreSQL</li>
                <li>Django Web Framework</li>
                <li>Unity Game Editor</li>
                <li>Javascript/Jquery</li>
                <li>Bash</li>
                <li>Git</li>
                <li>C#</li>
              </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="picbox col-sm">
          <img class="pic" src="{% static 'appone/css/img/Zen.jpg' %}" />
        </div>
      </div>
      <div class="shittyspace">
        {% if latest_spacefact_list %}
        <ul class="shittyspace_info">
          {% for spacefact in latest_spacefact_list %}
          <li class="spacefact">{{ spacefact.spacefact_text }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  {% endblock content %}