{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    <link href="{% static 'appone/css/styleportfolio.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </script>
    <script src="{% static 'appone/js/portfolio.js' %}"></script>
    <title>Portfolio</title>
    {% endblock style %}
  </head>

    {% block content %}
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class='first'>
        <p class='first_text'>Henlo World!</p>
      </div>
      <div class='container'>
        <div class='items'>1</div>
        <div class='items'>2</div>
        <div class='items'>3</div>
        <div class='items'>4</div>
        <div class='items'>5</div>
        <div class='items'>6</div>
      </div>
    </div>
    {% endblock content %}